{
  "presets": [
    ["env", {
      "loose": true
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "add-module-exports",
    "react-hot-loader/babel",
    "babel-plugin-styled-components"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
